<%- include('partials/head') %>
  <form action="" method="get">
    <fieldset>
      <legend>User Identification</legend>
      <label for="userid">Studentnummer
    <input type="text" name="userid" id="userid" required>
  </label>
    <input type="submit" value="submit">
  </fieldset>
  </form>
<%- include('partials/footer') %>