<%- include('partials/head', {title: pageTitle}) %>
<header>
  <h1>CMD Minor Web Survey</h1>
  <p>The Minor Web Design & Development would like to know your opinion about the course.</p>
</header>

<form action="/subjectOne" method="POST" id="intro">
  <fieldset>
    <legend>User Identification</legend>
    <label for="userId">Student Number
      <input type="text" name="userId" id="userId" placeholder="500123456" required aria-required="true" pattern="[0-9]{9}">
    </label>
    <label for="userName">Student Name
      <input type="text" name="userName" id="userName" placeholder="John" required aria-required="true" pattern="[A-Za-z]{1,32}">
    </label>
    <input type="submit" value="submit">
  </fieldset>
</form>
<%- include('partials/footer') %>